{% extends "layout.njk" %}

{% block pagina %}

  <h1>Músicas da minha Playlist</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Artista</th>
        <th>Estrelas</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for musica in musicas %}
        <tr>
          <td>{{musica.id}}</td>
          <td>{{musica.nome}}</td>
          <td>{{musica.artista}}</td>
          <td>
            {% for i in range(0, musica.estrelas) %}
              <span class="glyphicon glyphicon-star"></span>

            {% endfor %}

          </td>
          <td>
            <a href="/edit/{{musica.id}}" class="btn btn-primary">Editar</a>
            <button class="btn btn-danger"
              onclick="event.preventDefault();
                document.getElementById('logout-form-{{musica.id}}').submit();">Excluir</button>
          </td>
          <form id="logout-form-{{musica.id}}" action="/delete/{{musica.id}}" method="POST" style="display: none;">
            <input type="hidden" name="_method" value="DELETE" />
          </form>
        </tr>
      {% endfor %}

    </tbody>
  </table>


{% endblock %}