{% extends "layout.njk" %}

{% block pagina %}

<h1 class="page-header">Cadastro de Tarefas</h1>
<div class="col-md-6">
  <form action="/add" method="post">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" class="form-control" name="titulo" maxlength="10" id="titulo" placeholder="Titulo">
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" maxlength="30" name="descricao" id="descricao" placeholder="Descrição">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/" class="btn btn-default">Voltar</a>
  </form>
</div>



{% endblock %}