{% extends "layout.njk" %}

{% block pagina %}

<h1 class="page-header">Formulário de Login</h1>

  <form action="/" method="post">
    <div class="form-group">
      <label for="nome">Digite o nome</label>
      <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="senha">Digite a Senha</label>
      <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    
  </form>

{% endblock %}